/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}

body {
  line-height: 1
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

nav ul {
  list-style: none
}

blockquote, q {
  quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
  content: none
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none
}

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold
}

del {
  text-decoration: line-through
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0
}

input, select {
  vertical-align: middle
}

li {
  list-style: none
}

/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- reset ---- */

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #2c2e43;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.container {
  position: fixed;
  width: 440px;
  height: max-content;
  background: #e9ecef;
  top: 50%;
  left: 50%;
  margin: -220px 0 0 -220px;
  padding: 40px;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 40px;
  z-index: 1;
  opacity: 0.9;
}

.container h2 {
  font-weight: 400;
  font-size: 22px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 22px;
  margin-bottom: 30px;
}

.container>span {
  display: block;
  font-size: 12px;
  margin-bottom: 7px;
  text-align: center;
  margin-top: 7px;
}

.container a {
  margin: 10px auto 0 auto;
  color: rgb(255, 255, 255);
  width: 65%;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
  display: block;
  font-size: 25px;
  font-weight: 500;
  transition-duration: 0.1s;
  text-decoration: none;
}

#cont1 {
  background: #6441a5;
}

#cont1:hover {
  background: rgb(143, 143, 143);
  color: rgb(0, 0, 0);
}

#cont2 {
  background: #2787F5;
}

#cont2:hover {
  background: rgb(143, 143, 143);
  color: rgb(0, 0, 0);
}

#cont3 {
  background: #0088cc;
}

#cont3:hover {
  background: rgb(143, 143, 143);
  color: rgb(0, 0, 0);
}

#cont4 {
  background: #000000;
}

#cont4:hover {
  background: rgb(143, 143, 143);
  color: rgb(0, 0, 0);
}

#cont5 {
  background: #333;
}

#cont5:hover {
  background: rgb(143, 143, 143);
  color: rgb(0, 0, 0);
}

#cont6 {
  transition:200ms all; 
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

#cont6:hover {
  transition:200ms all; 
  background: rgb(143, 143, 143);
  color: rgb(0, 0, 0);
}